<div class="col-sm-4 col-sm-offset-4">
  <h2>Sign In</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign In", class: "btn-block" %>
    </div>
  <% end %>

  <div class="social-signin">
    <%= link_to user_omniauth_authorize_path(:twitter), class: "btn btn-block btn-social btn-twitter" do %>
      <i class="fa fa-twitter"></i>Sign in with Twitter
    <% end %>
    <%= link_to user_omniauth_authorize_path(:google), class: "btn btn-block btn-social btn-google-plus" do %>
      <i class="fa fa-google"></i>Sign in with Google
    <% end %>
  </div>

  <p><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
</div>


